{% extends "::base.html.twig" %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row clearfix">
            <fieldset>
                <div class="container-fluid">
                    <fieldset>
                        <legend>Cadastro de usuário</legend>
                        {% for label, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                <div class="alert alert-{{ label }}">
                                    {{ flash }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <div class="col-md-6 column">
                            <form role="form" method="POST" action="{{path('editUser')}}">
                                <div class="form-group col-lg-5">
                                    <label for="username">Nome</label>
                                    <input type="text" style="text-transform: none;" value="{{user.username}}" class="form-control semCaixaAlta" name="username" id="username" />
                                    <input type="hidden" value="{{user.id}}" class="form-control" name="userid" id="userid" />
                                </div>
                                <div class="form-group col-lg-5">
                                    <label for="email">Email</label>
                                    <input type="email" value="{{user.email}}" class="form-control" name="email" id="email" />
                                </div>
                                <div class="form-group col-lg-5">
                                    <label for="senha">Senha</label>
                                    <input type="password" class="form-control" name="senha" id="senha" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="senha">Perfil</label>
                                    <select class="form-control" id="perfil" name="perfil">
                                        <option>Selecione um perfil</option>
                                        {% for role in roles %}
                                            <option {% for roleUser in user.roles %}
                                                        {% if roleUser.id == role.id %}selected="selected"{% endif %}
                                                    {% endfor %}
                                            value="{{ role.id }}">{{ role.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div> 
                                {#<div class="form-group col-lg-6">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="ativo" name="ativo" value="1" 
                                           {% if user.isActive %}
                                               checked="true"
                                           {% endif %}
                                        > Ativar
                                    </label>
                                </div>#}
                                
                                <div class="form-group col-lg-2">
                                    <button type="submit" id="salvar" class="btn btn-primary">Salvar</button>
                                </div>
                                <div class="form-group col-lg-2">
                                    <a href="{{path('gridUsuario')}}" class="btn btn-default">Voltar</a>
                                </div>
                            </form>
                        </div>                        
                    </fieldset>
                </div>
            </fieldset>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
    </script>
{% endblock %}