<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SAD!{% endblock %}</title>        
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}        
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap_paperv3.3.2.min.css') }}" rel="stylesheet" media="screen">
            <link rel="stylesheet" href="{{asset('css/bootstrapValidation.mim.css')}}" />  
            <link rel="stylesheet" href="{{asset('css/jquery.datetimepicker.css')}}" />
            <style type="text/css" rel="stylesheet">
                .marginBottom-0 {margin-bottom:0;}
                .navbar-default-bg {background: #2F527C;}              
                .dropdown-submenu{position:relative;}
                .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
                .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
                .dropdown-submenu:hover>a:after{border-left-color:#555;}
                .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <nav class="navbar  navbar-default-bg navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">SAD-AD</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">EMPREGO <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">CADASTRO</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{path('viewListCandidato')}}">VISUALIZAR</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{path('saveCandidato')}}">NOVO</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">IMPRIMIR</a></li>
                                    </ul>                                   
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">CAPACITAÇÃO</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">VISUALIZAR</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">NOVO</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">DEMANDA</a></li>
                                    </ul>                                   
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">VAGAS</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">DISPONÍVEL</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">PREENCHIDAS</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">DEMANDA</a></li>
                                    </ul>                                   
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">RELATÓRIO</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">VISUALIZAR</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">DEMANDA</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">IMPRIMIR</a></li>
                                    </ul>                                   
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">EMPRESAS</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">VISUALIZAR</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">DEMANDA</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">IMPRIMIR</a></li>
                                    </ul>                                   
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">EMPREENDEDOR <b class="caret"></b></a>

                            <ul class="dropdown-menu">
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">CADASTRO</a>
                                    <ul class="dropdown-menu">
                                        <li><a href={{path('viewListEmpreendedor')}}>VISUALIZAR</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{path('saveEmpreendedor')}}">NOVO</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">IMPRIMIR</a></li>
                                    </ul>                                   
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">CAPACITAÇÃO</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">VISUALIZAR</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">NOVO</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">DEMANDA</a></li>
                                    </ul>                                   
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">CONSULTORIA</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">VISUALIZAR</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">NOVO</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">DEMANDA</a></li>
                                    </ul>                                   
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">RELATÓRIO</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">VISUALIZAR</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">NOVO</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">DEMANDA</a></li>
                                    </ul>                                   
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">AUTÔNOMO <b class="caret"></b></a>
                            <ul class="dropdown-menu">                                                               
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">CADASTRO</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('viewListAutonomo') }}">VISUALIZAR</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{path('saveAutonomo')}}">NOVO</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">IMPRIMIR</a></li>
                                    </ul>                                   
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">CAPACITAÇÃO</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">VISUALIZAR</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">NOVO</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">IMPRIMIR</a></li>
                                    </ul>                                   
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">RELATÓRIO</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">VISUALIZAR</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">NOVO</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">IMPRIMIR</a></li>
                                    </ul>                                   
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">CADASTROS <b class="caret"></b></a>
                            <ul class="dropdown-menu">                                                               
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">EMPRESA</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('gridEmpresa') }}">VISUALIZAR</a></li>
                                        <li class="divider"></li>                                 
                                        <li><a href="{{ path('saveEmpresa') }}">NOVO</a></li>
                                    </ul>                                   
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">ÁREA PROFISSIONAL</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('gridAreaDesejada') }}">VISUALIZAR</a></li>
                                        <li class="divider"></li>                                 
                                        <li><a href="{{ path('saveAreaDesejada') }}">NOVO</a></li>
                                    </ul>                                   
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">VAGA DE EMPREGO</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('gridVagas') }}">VISUALIZAR</a></li>
                                        <li class="divider"></li>                                 
                                        <li><a href="{{ path('saveVaga') }}">NOVO</a></li>
                                    </ul>                                   
                                </li>                               
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">CAPACITAÇÃO ESCOLAR</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('gridCurso') }}">VISUALIZAR</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ path('saveCurso') }}">NOVO</a></li>                             
                                    </ul>                                   
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">CAPACITAÇÃO PROFISSIONAL</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('gridCapacitacoes') }}">VISUALIZAR</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ path('saveCapacitacoes') }}">NOVO</a></li>                             
                                    </ul>                                   
                                </li>  
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">VÍNCULO EMPRESA/CAPACITAÇÃO ESCOLAR</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('gridEmpresaCursos') }}">VISUALIZAR</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ path('saveEmpresaCursos') }}">NOVO</a></li>                             
                                    </ul>                                   
                                </li>  
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">VÍNCULO EMPRESA/CAPACITAÇÃO PROFISSIONAL</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('gridEmpresaCapacitacoes') }}">VISUALIZAR</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ path('saveEmpresaCapacitacoes') }}">NOVO</a></li>                             
                                    </ul>                                   
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">VAGAS DISPONÍVEIS</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('gridVagasDisponiveis') }}">VISUALIZAR</a></li>
                                        <li class="divider"></li>                                 
                                        <li><a href="{{ path('saveVagaDisponiveis') }}">NOVO</a></li>
                                    </ul>                                   
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{path('logout')}}">SAIR</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav> <br /><br /><br />
        {% endblock %}

        {% block javascripts %}            
            <script src="{{ asset('js/jquery.js') }}"></script>
            <!-- Include all JavaScripts, compiled by Assetic -->
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <script type="text/javascript" src="{{asset('js/javax_faces.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/jquery.datetimepicker.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/bootstrapvalidator.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/jquery.mask.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/mascara/mascaras.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap-hover-dropdown.min.js')}}"></script>
            <script type="text/javascript">
                (function ($) {
                    $(document).ready(function () {
                        $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                            event.preventDefault();
                            event.stopPropagation();
                            $(this).parent().siblings().removeClass('open');
                            $(this).parent().toggleClass('open');
                        });

                        $('.datepicker').datetimepicker({
                            timepicker: false,
                            format: 'd/m/Y',
                            mask: true,
                            lang: 'pt-BR'
                        });

                        $('a').on('click', function (event) {
                            if ($(this).text() === "Adicionar") {
                                $('.datepicker').on('click', function (event) {
                                    $('.datepicker').datetimepicker({
                                        timepicker: false,
                                        format: 'd/m/Y',
                                        mask: true,
                                        lang: 'pt-BR'
                                    });

                                });
                            }

                        });
                    });
                })(jQuery);
                
                $(document).ready(function() {
                    $('.js-activated').dropdownHover().dropdown();
                });
            </script>
        {% endblock %}
    </body>
</html>
