{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('css/icheck.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {{parent()}}
    <div class="container">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-dismissable alert-{{ label }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row clearfix">
            <br />
            <legend>Cadastro de Emprego</legend>
            <div class="col-md-13 column">
                {{ form_start(form, { 'style': 'horizontal', 'id' : 'formCandidato'}) }}
                <ul class="nav nav-tabs">
                    <li role="presentation"class="active">
                        <a href="#dadosPessoais"aria-controls="dadosPessoais"role="tab"data-toggle="tab">
                            Dados Pessoais</a >
                    </li >
                    <li role="presentation">
                        <a href="#dadosCurriculo"aria-controls="dadosCurriculo"role="tab"data-toggle="tab">
                            Dados do Currículo</a >
                    </li >
                    <li role="presentation">
                        <a href="#formacaoEscolaridade"aria-controls="formacaoEscolaridade"role="tab"data-toggle="tab">
                            Formação/Escolaridade</a >
                    </li >
                    <li role="presentation">
                        <a href="#experienciaProfi"aria-controls="experienciaProfi"role="tab"data-toggle="tab">
                            Experiência Profissional</a >
                    </li >
                    <li role="presentation">
                        <a href="#cursos"aria-controls="cursos"role="tab"data-toggle="tab">
                            Cursos</a >
                    </li >
                    <li role="presentation">
                        <a href="#qualificacaoFutura"aria-controls="qualificacaoFutura"role="tab"data-toggle="tab">
                            Qualificação Furtura</a >
                    </li >
                    <li role="presentation">
                        <a href="#84"aria-controls="84"role="tab"data-toggle="tab">
                            Pretensão de Vagas</a >
                    </li >
                </ul >
                <div class="tab-content">
                    <div class="tab-pane active"id="dadosPessoais">
                        <br />
                        {{ form_row(form.nomecandidato) }}
                        {{ form_row(form.sexosexo) }}
                        {{ form_row(form.estadocivilestadocivil) }}
                        {{ form_row(form.cpfcandidato) }}
                        {{ form_row(form.rgcandidato) }}
                        {{ form_row(form.enderecocadidato) }}
                        {{ form_row(form.bairrocandidato) }}
                        {{ form_row(form.cepcandidato) }}
                        {{ form_row(form.cidadecandidato) }}
                        {{ form_row(form.ufcandidato) }}
                        {{ form_row(form.emailcandidato) }}
                        {{ form_row(form.nascimentocandidato) }}
                        {{ form_row(form.cnhcandidato) }}
                        {{ form_row(form.objCnh.validadecnh) }}
                        {{ form_row(form.objCnh.categoriacnh) }}
                        {{ form_row(form.outrasinformacoescandidato) }}
                        {{ form_row(form.telefones) }}
                    </div>
                    <div class="tab-pane"id="dadosCurriculo">
                        <br />
                        {{ form_row(form.curriculo.resumocurriculo) }}
                        {{ form_row(form.curriculo.prentencaosalarialcurriculo) }}
                        {{ form_row(form.curriculo.atualmenteempregadocurriculo) }}
                    </div>
                    <div class="tab-pane"id="formacaoEscolaridade">
                        <br />
                        {{ form_row(form.curriculo.formacoes) }}
                    </div>
                    <div class="tab-pane"id="experienciaProfi">
                        <br />
                        {{ form_row(form.curriculo.experienciasProfissionais) }}
                    </div>
                    <div class="tab-pane"id="cursos">
                        <br />
                        {{ form_row(form.curriculo.linguasExtrangeiras) }}
                        {{ form_row(form.curriculo.informatica) }}
                        {{ form_row(form.curriculo.outrosCursos) }}
                    </div>
                    <div class="tab-pane"id="qualificacaoFutura">
                        <br />
                        {{ form_row(form.curriculo.qualificacoesFuturas) }}
                    </div>
                    <div class="tab-pane"id="84">
                        <br />
                        {{ form_row(form.curriculo.informacaoBusca.tipohorariotipohorario) }}
                        {{ form_row(form.curriculo.informacaoBusca.opcoesdesejadas) }}
                    </div>
                </div>
                {{ form_row(form.actions) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('js/validacoes/validationForm_Candidato.js')}}"></script>
    <script type="text/javascript">
        $(document).on('click', '#formeCadidato', function (event) {
            event.preventDefault();
        });

        $(document).on('click', '#serbinario_sad_bundle_sadbundle_candidato_actions_cancel', function () {
            window.location.href = '{{path('viewListCandidato')}}';
        });


        $(document).on('change', ".area_profissional", function () {
            var areaProfissional = $(this).val();
            var areaProfissionalId = $(this).attr("id");

            if (areaProfissional !== "") {
                var dados = {
                    idAreaProfissional: areaProfissional
                }

                jQuery.ajax({
                    type: 'POST',
                    url: '{{path('vagasAreaPro')}}',
                    data: dados,
                    datatype: 'json'
                }).done(function (json) {
                    var option = '';
                    var idAP = areaProfissionalId.split("_");

                    if (json['msg'] === "sucesso") {
                        option += '<option value="">Selecione a vaga</option>';
                        for (var i = 0; i < json['vagas'].length; i++) {
                            option += '<option value="' + json['vagas'][i]['idVagas'] + '">' + json['vagas'][i]['nomeVaga'] + '</option>';
                        }

                        $('#serbinario_sad_bundle_sadbundle_candidato_curriculo_informacaoBusca_opcoesdesejadas_' + idAP[8] + '_vagas option').remove();
                        $('#serbinario_sad_bundle_sadbundle_candidato_curriculo_informacaoBusca_opcoesdesejadas_' + idAP[8] + '_vagas').append(option);
                    } else {
                        $('#serbinario_sad_bundle_sadbundle_candidato_curriculo_informacaoBusca_opcoesdesejadas_' + idAP[8] + '_vagas option').remove();
                        alert("Não há vagas para essa área profissional selecionada");
                        //alert("Não há programa para essa emissora selecionada");
                        //$('#cola_subcategoria option').remove();
                    }

                });
            }
        });

        $(document).on('focus', ".telefoneCandidato", function () {

            var maskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
                    options = {onKeyPress: function (val, e, field, options) {
                            field.mask(maskBehavior.apply({}, arguments), options);
                        }
                    };

            $('.telefoneCandidato').mask(maskBehavior, options);

        });

        $(document).on('focus', ".data", function () {

            console.log('dd');
            $(this).datetimepicker({
                timepicker: false,
                format: 'd/m/Y',
                mask: false,
                lang: 'pt-BR'
            });

        });

        $(document).ready(function ($) {
            // Chamada da funcao upperText(); ao carregar a pagina
            upperText();
            // Funcao que faz o texto ficar em uppercase
            function upperText() {

                // Para tratar o colar
                $("#serbinario_sad_bundle_sadbundle_candidato_ufcandidato").bind('paste', function (e) {
                    var el = $(this);
                    setTimeout(function () {
                        var text = $(el).val();
                        el.val(text.toUpperCase());
                    }, 100);
                });

                // Para tratar quando é digitado
                $("#serbinario_sad_bundle_sadbundle_candidato_ufcandidato").keypress(function () {
                    var el = $(this);
                    console.log('asdas');
                    setTimeout(function () {
                        var text = $(el).val();
                        el.val(text.toUpperCase());
                    }, 100);
                });
            }
        });
    </script>
{% endblock %}


