{% extends '::base.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="container">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-dismissable alert-{{ label }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row clearfix">
            <br />
            <legend>Cadastro de Emprego</legend>
            <div class="col-md-13 column">
                {{ form_start(form, { 'style': 'horizontal' }) }}
                    <ul class="nav nav-tabs">
                        <li role="presentation"class="active">
                            <a href="#identificacaoPessoais"aria-controls="identificacaoPessoais"role="tab"data-toggle="tab">
                                Indentificação Pessoal</a >
                        </li >
                        <li role="presentation">
                            <a href="#identificacaoAtividade"aria-controls="identificacaoAtividade"role="tab"data-toggle="tab">
                                Identificação de Atividade</a >
                        </li >
                        <li role="presentation">
                            <a href="#identificacaoNecessidade"aria-controls="identificacaoNecessidade"role="tab"data-toggle="tab">
                                Identificação Necessidade</a >
                        </li >
                    </ul >
                    <div class="tab-content">
                        <div class="tab-pane active"id="identificacaoPessoais">
                            <br />
                            {{ form_row(form.nomeempreendedor) }}
                            {{ form_row(form.enderecoresidencial) }}
                            {{ form_row(form.idadeempreendedor) }}
                            {{ form_row(form.expeprofissionalempreendedor) }}
                            {{ form_row(form.tempoexpeprofissionalempreendedor) }}
                            {{ form_row(form.outrarendaempreendedor) }}
                            {{ form_row(form.interessecursoprofempreendedor) }}
                            {{ form_row(form.telefones) }}
                            {{ form_row(form.escolaridade) }}
                            {{ form_row(form.rendafamiliar) }}
                        </div>
                        <div class="tab-pane"id="identificacaoAtividade">
                            <br />
                            {{ form_row(form.identificacaoAtividade.tipoatividadeempreendedortipoatividadeempreendedor) }}
                            {{ form_row(form.identificacaoAtividade.ramonegocioempreendedorramonegocioempreendedor) }}
                            {{ form_row(form.identificacaoAtividade.tempoatividadeempreendedor) }}
                            {{ form_row(form.identificacaoAtividade.equipamentoultilizadoempreendedor) }}
                            {{ form_row(form.identificacaoAtividade.qtdPessoasEnvolvidas) }}
                            {{ form_row(form.identificacaoAtividade.observacoesempreendedor) }}
                        </div>
                        <div class="tab-pane"id="identificacaoNecessidade">
                            <br />
                            {{ form_row(form.indentificacaoNecessidade.creditocredito) }}
                            {{ form_row(form.indentificacaoNecessidade.consultoria) }}
                            {{ form_row(form.indentificacaoNecessidade.capacitacaocapacitacao) }}
                            {{ form_row(form.indentificacaoNecessidade.formalizacaoformalizacao) }}
                            {{ form_row(form.indentificacaoNecessidade.tipoqualificacaotipoqualificacao) }}
                            {{ form_row(form.indentificacaoNecessidade.historico) }}
                        </div>
                    </div>
                    {{ form_row(form.actions) }}
                {{ form_end(form) }}      
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(document).on('click', '#serbinario_sad_bundle_sadbundle_empreendedor_actions_cancel', function () {
            console.log('sfdfd');
            window.location.href = '{{path('viewListEmpreendedor')}}';
        });
    </script>
{% endblock %}




